.fab {
  display: flex;
  float: right;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.pencil {
  opacity: 0.5;
  height: 14px;
  width: 14px;
}
