main {
  height: 100%;
  width: 100%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00112299;
}

.modal {
  margin: auto auto;
  height: 350px;
  width: 440px;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px 25px 10px 25px;
}
