main {
  height: 100%;
  width: 100%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00112299;
}

.modal {
  margin: auto auto;
  height: 350px;
  width: 440px;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px 25px 10px 25px;
}

.modal-close {
  float: right;
  opacity: 30%;
}

.modal-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #001122;
}

.description-title {
  font-weight: 600;
  font-size: 14px;
  color: #001122;
  line-height: 24px;
}

.description {
  font-weight: 400;
  font-size: 14;
  line-height: 24px;
  color: #001122;
  height: 96px;
}

.done {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  float: right;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  background-color: #37b24d;
  color: #fff;
  font-size: 14px;
  cursor: default;
}

.done:hover {
  opacity: 50%;
}
