.modal-close {
  float: right;
  opacity: 0.3;
}

.modal-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #001122;
}

.description-title {
  font-weight: 600;
  font-size: 14px;
  color: #001122;
  line-height: 24px;
}

.description {
  font-weight: 400;
  font-size: 14;
  line-height: 24px;
  color: #001122;
  height: 96px;
}

.done {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  float: right;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  background-color: #37b24d;
  color: #fff;
  font-size: 14px;
  cursor: default;
}

.done:hover {
  opacity: 0.5;
}
